<div class="container">

    <h4>Мои заказы</h4>
    <div ng-repeat="ord in orders" class="card text-white bg-primary mb-3" style="max-width: 90%">
<!--        <tr ng-repeat="ord in orders">-->
        <div  class="card-header"><H4>№<kbd>{{ord.id}}</kbd> статус: <kbd>{{ord.orderStatus.title}}</kbd><br>
            Создан: {{ord.createdAt}} Получатель {{ord.first_name}} {{ord.last_name}} {{ord.patronymic}}</H4>
        Адрес доставки: {{ord.address}} Телефон: {{ord.phone}}</div>
        <div class="card-body">
            <table class="table align-middle table-bordered" >

                <thread>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Цена(руб)</th>
                    </tr>
                </thread>
                <tbody>
                <tr ng-repeat="i in ord.ordersItems">
                    <td>{{i.productId}}</td>
                    <td>{{i.productTitle}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.price+ ' x ' + i.quantity + ' = ' + i.price*i.quantity}}</td>
                </tr>
                </tbody>
            </table>
            <p class="card-text"><H5><kbd>Общая стоимость заказа {{ord.sum}} руб.</kbd></H5>
            <button class="btn btn-dark" ng-click="#">Оплатить</button></p>
        </div>
    </div>





</div>