<div>
    <p></p>
    <h3>Добавить продукт</h3>
    <form novalidate ng-submit="createProduct()">
        <input class="form-control" type="text" placeholder="Название" ng-model="new_product.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Цена" ng-model="new_product.price">
        <p></p>
        <input class="form-control" type="text" placeholder="Название категории" ng-model="new_product.categoryTitle">
        <p></p>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>