<div>
    <h4>Персональные данные пользователя {{userdata.username}} email:{{userdata.email}}</h4>
<!--    <h2>{{userdata.detailsUser.firstName}} {{userdata.detailsUser.lastName}} {{userdata.detailsUser.patronymic}}.</h2>-->
    <h5>Адрес доставки {{userdata.detailsUser.address}} телефон: {{userdata.detailsUser.phone}}</h5>

    <div class="input-group">
        <span class="input-group-text">ФИО</span>
        <input type="text" aria-label="Фамилия" class="form-control" ng-model="userdata.detailsUser.firstName">
        <input type="text" aria-label="Имя" class="form-control" ng-model="userdata.detailsUser.lastName">
        <input type="text" aria-label="Отчество" class="form-control" ng-model="userdata.detailsUser.patronymic">
    </div>


    <h2>Список заказов</h2>

<!--    <table class="table" ng-show="cart.items.length > 0">-->
        <!--  <table class="table" >-->
        <thead>
        <tr>
            <td>Номер</td>
            <td>Дата</td>
            <td>Цена</td>
            <td>Адрес доставки</td>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in userdata.orderList">
            <td>{{i.id}}</td>
            <td>{{i.createdAt}}</td>
            <td>{{i.sum}}</td>
        </tr>

            <td></td>
            <td></td>


        </tbody>
    </table>


</div>