<div>
    <h1>Market</h1>
    <thead>
    <table class="table table-success table-striped">
        <tr>
            <td>id</td>
            <td>title</td>
            <td>prise</td>
            <td>button</td>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="p in order">
            <td>{{p.id}}</td>
            <td>{{p.createdAt}}</td>
            <td>{{p.last_name}}</td>
            <td>{{p.patronymic}}</td>
            <td>
                <button class="btn btn-primary" ng-click="showOrderItems(p.id)">Детали</button>
            </td>
        </tr>
    </table>

    </tbody>
</div>