<div>
    <h1>Market</h1>
    <thead>
    <table class="table table-success table-striped">
        <tr>
            <td>Category</td>
            <td>id</td>
            <td>title</td>
            <td>prise</td>
            <td>button</td>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="p in productsPage.content">
            <td>{{p.categoryTitle}}</td>
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-info" ng-click="addCart(p)">Добавить в корзину</button>
            </td>
        </tr>
    </table>

    <h6>страница {{currentPage}} из {{totalPages}}</h6>

    <button class="btn btn-info" ng-click="toChangePage(-1)">Previous Page</button>
    <button class="btn btn-info" ng-click="toChangePage(1)">Next page</button>
    </tbody>
</div>