<div>
    <p></p>
    <h3>Заполните форму для регистрации</h3>
    <form novalidate ng-submit="createUser()">
        <input class="form-control" type="text" placeholder="Логин" ng-model="new_user.username">
        <p></p>
        <input class="form-control" type="text" placeholder="Пароль" ng-model="new_user.password">
        <p></p>
        <input class="form-control" type="text" placeholder="Ваш email" ng-model="new_user.email">
        <p></p>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>