<div>
    <h1>Статистика работы сервисов</h1>
    


    <table class="table table-success table-striped">
        <thead>
        <tr>
            <td>Method</td>
            <td>Time</td>
            <td>title</td>
        </tr>

        </thead>



<tr ng-repeat="(key_class, value_map) in statMethod.mapValue">
            <td>{{key_class}}</td>
    <tr ng-repeat="(key, value) in {{value_map"}}>
            <tr>{{key}}</tr>
             <tr>{{value}}</tr>


        </tr>
        </tr>
    </table>


</div>